{% extends 'home.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edicion de Ventas</title>
  </head>
  <body>
    <div class="container mt-4">
      <h2>Editar Venta</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </form>
    </div>
  </body>
</html>

{% endblock %}