{% extends 'home.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Ventas</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <script>
        function validateForm() {
            var inputs = document.getElementById("salesForm").getElementsByTagName('input');
            for(var i=0; i < inputs.length; i++) {
                if(inputs[i].type == 'text' && inputs[i].value == '') {
                    alert('Por favor, rellena todos los campos para seguir con el proceso de registro.');
                    return false;
                }
            }
            if(confirm('¿Estás seguro de que quieres guardar la venta?')) {
                alert('Venta guardada con éxito.');
                return true;
            } else {
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Registro de Venta</h1>
        <form id="salesForm" method="POST" onsubmit="return validateForm();">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input class="cbp-mc-submit btn btn-primary" type="submit" value="Registrar" />
        </form>
    </div>
</body>
</html>

{% endblock %}
