{% extends 'home.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ventas</title>
    <link rel="stylesheet" href="{% static 'css/vistas.css' %}">
</head>
<body>
    <div class="container">
        <h1>Listado de Ventas</h1>
        <a href="{% url 'registrarVenta' %}" class="btn btn-secondary">Resgistrar Venta</a>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Flujo</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Edicion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ven in ventas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ ven.idComprovante }}</td>
                            <td>{{ ven.docEmpleado.docEmpleado }}</td>
                            <td>{{ ven.flujoCliente.docCliente }}</td>
                            <td>{{ ven.flujoProducto.producto }}</td>
                            <td>{{ ven.flujo }}</td>
                            <td>{{ ven.cantidadFlujo }}</td>
                            <td>{{ ven.fechaFlujo }}</td>
                            <td><a href="/editarVenta/{{ ven.idComprovante }}" class="btn btn-info">Editar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

{% endblock %}