{% extends 'home.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Prveedores</title>
  </head>
  <body>
    <div class="container">
      <h2>Registrar Proveedor</h2>
      <form method="post" class="cbp-mc-form">
        {% csrf_token %} {{ form.as_p }}
        <div class="cbp-mc-submit-wrap">
          <input class="cbp-mc-submit btn brn-primary" type="submit" value="Registrar" />
        </div>
      </form>
    </div>
  </body>
</html>

{% endblock %}