/*index.css */

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

:root {
  --gold: #d6a23e;
  --black: #1d2021;
  --white: #f2f2f2;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --animation-duration: 0.5s;
  --animation-timing-function: ease-out-in;
  --negative-margin-left: -100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Saira', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, var(--gold) 0%, var(--black) 100%);
  animation: slide-in-left var(--animation-duration) var(--animation-timing-function) both;
}

@keyframes slide-in-left {
  0% {
    margin-left: var(--negative-margin-left);
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  gap: 32px;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 8px;
  overflow: hidden;
  animation: slide-in-right var(--animation-duration) var(--animation-timing-function) both;
}

@keyframes slide-in-right {
  0% {
    margin-left: var(--negative-margin-left);
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.left-section {
  padding: 60px;
  background: var(--gold);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.left-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--black));
  transform: skewX(-20deg);
}

.left-section h1 {
  font-size: 3rem;
  color: var(--black);
  text-shadow: 2px 2px 0 var(--gold);
  animation: slide-in-bottom var(--animation-duration) var(--animation-timing-function) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.left-section p {
  font-size: 1.1rem;
  color: var(--black);
  line-height: 1.5;
  text-shadow: 1px 1px 0 var(--gold);
  animation: slide-in-left var(--animation-duration / 2) var(--animation-timing-function) both;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--black));
  transform: skewX(20deg);
}

.enlace {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--gold);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.1rem;
  animation: slide-in-left var(--animation-duration / 2) var(--animation-timing-function) both;
}

.submit-button {
  width: 100%;
  background-color: var(--gold);
  color: var(--black);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.1rem;
  animation: slide-in-right var(--animation-duration / 2) var(--animation-timing-function) both;
}

.submit-button:hover {
  background-color: var(--black);
  color: var(--gold);
}

#error-message {
  background-color: var(--black);
  color: var(--gold);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  display: none;
  animation: slide-in-bottom var(--animation-duration / 2) var(--animation-timing-function) both;
}

.form-field {
  position: relative;
  width: 100%;
}

.form-field input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid var(--gold);
  border-radius: 4px;
  font-size: 1.1rem;
  outline: none;
}

.form-field input:focus+label {
  top: -10px;
  left: 12px;
  color: var(--gold);
  background: var(--white);
}

.form-field label {
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 0 5px;
  background: var(--gold);
  color: var(--black);
  transition: all 0.25s;
}

.form-field input:valid {
  border-color: var(--gold);
}

.form-field input:valid+label {
  top: -10px;
  left: 12px;
  color: var(--gold);
  background: var(--white);
}

.form-field input:invalid+label {
  top: 0;
  left: 20px;
  background: var(--gold);
}

.form-field input:invalid+label::before {
  content: '✖';
  position: absolute;
  top: -10px;
  left: 15px;
  color: var(--black);
  font-size: 1.5rem;
  transition: all0.25s;
}

.form-field input:focus:invalid+label::before {
  color: var(--black);
}
