body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Color de fondo claro */
}

h1 {
    text-align: center;
    color: #333; /* Color del encabezado */
}

table {
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
    width: 80%; /* Ancho de la tabla */
    background-color: #fff; /* Color de fondo de la tabla */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Borde inferior */
    color: #333; /* Color de texto */
}

form {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #444; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; /* Cambiar el color de fondo al pasar el mouse */
}

ul {
    list-style-type: none;
    padding: 0;
}


.mark-entregado {
    color: #007bff; /* Color del enlace */
    text-decoration: none;
    margin-left: 10px;
}

.mark-entregado:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el mouse */
}
