{% extends 'home.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortes de Satélite</title>
    <link rel="stylesheet" href="{% static 'css/vistaSatelite.css' %}">
</head>
<body>
    <h1>Cortes de Satélite</h1>
    <table>
        <tr>
            <td>
                <form id="myForm" method="post">
                    {% csrf_token %}
                    <label for="satelite">Selecciona un satélite:</label>
                    <select name="satelite" id="satelite">
                        <option value="" selected disabled>Selecciona un satélite</option>
                        {% for satelite in satelites %}
                        <option value="{{ satelite.idSatelite }}">
                            {{ satelite.docSatelite.apellidos }}
                        </option>
                        {% endfor %}
                    </select>
                    <span id="error" style="color: rgb(163, 150, 9); display: none;">Por favor, selecciona un satélite.</span>
                    <button type="submit">Mostrar Cortes</button>
                </form>
            </td>
        </tr>

        {% if satelite_seleccionado %}
        <tr>
            <td>
                <h2>Satélite seleccionado: {{ satelite_seleccionado.docSatelite.apellidos }}</h2>
            </td>
        </tr>
        {% endif %}

        {% if cortes_entregados %}
        <tr>
            <td>
                <h3>Cortes Entregados:</h3>
                <ul>
                    {% for corte in cortes_entregados %}
                        <li>
                            Corte {{ corte.idCorte }}: Material: {{ corte.materialCorte.material }} - Producto Final: {{ corte.productoCorte.producto }} (Entregado)
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>
                <p>No hay cortes entregados vinculados a este satélite.</p>
            </td>
        </tr>
        {% endif %}

        {% if cortes_no_entregados %}
        <tr>
            <td>
                <h3>Cortes No Entregados:</h3>
                <ul>
                    {% for corte in cortes_no_entregados %}
                        <li>
                            Corte {{ corte.idCorte }}: Material: {{ corte.materialCorte.material }} - Producto Final: {{ corte.productoCorte.producto }} (No entregado) 
                            <a href="{% url 'marcar_entregado' corte.idCorte %}" class="mark-entregado" onclick="return confirm('¿Estás seguro de que deseas marcar este corte como entregado?')">Marcar como entregado</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>
                <p>No hay cortes no entregados vinculados a este satélite.</p>
            </td>
        </tr>
        {% endif %}
    </table>

    <script>
        document.getElementById('myForm').addEventListener('submit', function(event) {
            var satelite = document.getElementById('satelite');
            var error = document.getElementById('error');
        
            if (satelite.value === '') {
                // Si no se ha seleccionado un satélite, muestra el mensaje de error y evita que se envíe el formulario
                error.style.display = 'block';
                event.preventDefault();
            } else {
                // Si se ha seleccionado un satélite, oculta el mensaje de error
                error.style.display = 'none';
            }
        });
    </script>
</body>

</html>

{% endblock %}
