{% extends 'home.html' %}
{% block content%}

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edición de Satelites</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Editar Satelite</h1>
      <form method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <div class="cbp-mc-submit-wrap">
          <input class="cbp-mc-submit btn btn-primary" type="submit" value="Guardar Cambios" />
        </div>
      </form>
    </div>
  </body>
</html>

{% endblock %}