{% extends 'home.html' %} 
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Devoluciones</title>
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}" />
  </head>
  <body>
    <div id="form-container" class="container mt-4">
      <div>
        <button id="producto-btn" class="btn btn-primary">Devolución de Productos</button>
        <button id="material-btn" class="btn btn-primary">Devolución de Material</button>
      </div>
      <table class="table">
        <form id="devoFrom" method="post" onsubmit="return validateForm()">
          {% csrf_token %}
          <!-- Campos comunes a ambos formularios -->
          <tr>
            <td><label id="devoEmpleado" for="devoEmpleado" class="form-label">Empleado</label></td>
            <td>{{ form.devoEmpleado }}</td>
          </tr>
          <tr class="hidden producto-fields">
            <td><label id="devoSatelite" for="devoSatelite" class="form-label">Satelite</label></td>
            <td>{{ form.devoSatelite }}</td>
          </tr>
          <tr class="hidden producto-fields">
            <td><label id="devoProducto" for="devoProducto" class="form-label">Producto</label>
            </td><td>{{ form.devoProducto }}</td>
          </tr>
          <tr class="hidden material-fields">
            <td><label id="devoProveedor" for="devoProveedor" class="form-label">Proveedor</label></td>
            <td>{{ form.devoProveedor }}</td>
          </tr>
          <tr class="hidden material-fields">
            <td><label id="devoMaterial" for="devoMaterial" class="form-label">Material</label></td>
            <td>{{ form.devoMaterial }}</td>
          </tr>
          <tr>
            <td><label id="flujo" for="flujo" class="form-label">Flujo</label></td>
            <td>{{ form.flujo }}</td>
          </tr>
          <tr>
            <td><label id="motivo" for="motivo" class="form-label">Motivo</label></td>
            <td><input type="text" class="form-control" id="motivo" name="motivo"/></td>
          </tr>
          <tr>
            <td><label for="cantidadDevo" class="form-label">Cantidad</label></td>
            <td><input type="number" class="form-control" id="cantidadDevo" name="cantidadDevo" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit" class="btn btn-primary">Guardar</button></td>
          </tr>
        </form>
      </table>
    </div>

    <div id="confirmacionDevo" class="modal" style="width: 60%; margin: 0 auto">
      <div class="modal-content" style="padding: 20px">
        <span class="close" style="float: right; font-size: 28px; font-weight: bold">&times;</span>
        <p style="font-size: 20px">¿Estás seguro de que deseas registrar esta Devolucion?</p>
        <div style="text-align: center; margin-top: 20px">
          <button id="confirmarBtn" class="btn-confirmar" style="font-size: 18px; padding: 10px 20px; margin-right: 10px">¡Sí, registrar!</button>
          <button id="cancelarBtn" class="btn-cancelar" style="font-size: 18px; padding: 10px 20px">Cancelar</button>
        </div>
      </div>
    </div>
    
    <script>
      function validateForm() {
        const materialBtn = document.getElementById("material-btn");
        const productoBtn = document.getElementById("producto-btn");

        materialBtn.addEventListener("click", () => {
            materialBtn.classList.add("active");
            productoBtn.classList.remove("active");

            materialFields.forEach((field) => field.classList.remove("hidden"));
            productoFields.forEach((field) => field.classList.add("hidden"));
        });

        productoBtn.addEventListener("click", () => {
            materialBtn.classList.remove("active");
            productoBtn.classList.add("active");

            materialFields.forEach((field) => field.classList.add("hidden"));
            productoFields.forEach((field) => field.classList.remove("hidden"));
        });
        }

        const materialFields = document.querySelectorAll(".material-fields");
        const productoFields = document.querySelectorAll(".producto-fields");

        validateForm();

      var devoFrom = document.getElementById("devoFrom");
      var confirmacionDevo = document.getElementById(
        "confirmacionDevo"
      );
      devoFrom.addEventListener("submit", function (event) {
        event.preventDefault();

        if (validarCampos()) {
          confirmacionDevo.style.display = "block";
        } else {
          alert("Por favor, rellene todos los campos antes de continuar.");
        }
      });

      function validarCampos() {
        var formElements = devoFrom.elements;
        console.log("Validando campos...");

        // Lista de nombres de campos que son obligatorios cuando se selecciona un cierto botón
        var camposObligatoriosMaterial = ["devoEmpleado", "devoProveedor","devoMaterial", "flujo", "motivo"];
        var camposObligatoriosProducto = ["devoEmpleado", "devoSatelite", "devoProducto", "flujo", "motivo"];

        // Verificar qué botón está seleccionado
        var materialBtnSeleccionado = document.getElementById("material-btn").classList.contains("active");
        var productoBtnSeleccionado = document.getElementById("producto-btn").classList.contains("active");

        for (var i = 0; i < formElements.length; i++) {
            if (materialBtnSeleccionado && camposObligatoriosMaterial.includes(formElements[i].name) && formElements[i].value.trim() === "") {
            console.log("Campo vacío encontrado: ", formElements[i].name);
            return false;
            }

            if (productoBtnSeleccionado && camposObligatoriosProducto.includes(formElements[i].name) && formElements[i].value.trim() === "") {
            console.log("Campo vacío encontrado: ", formElements[i].name);
            return false;
            }
        }
        return true;
        }

      var confirmarBtn = document.getElementById("confirmarBtn");
      var cancelarBtn = document.getElementById("cancelarBtn");
      confirmarBtn.addEventListener("click", function () {
        devoFrom.submit();
      });
      cancelarBtn.addEventListener("click", function () {
        confirmacionDevo.style.display = "none";
      });
    </script>
  </body>
</html>

{% endblock %}