{% extends 'home.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición de Clientes</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <div class="container">
        <h2>Editar Cliente</h2>
        <form method="post" class="cbp-mc-form">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class="cbp-mc-submit-wrap">
                <input type="submit" class="cbp-mc-submit btn brn-primary" value="Guardar cambios">
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}